.cards-container {
    padding-top: 80px;
}

.card {
    padding: 8px;
    gap: 5px;
    /* margin: 2px; */
    /* margin-top: 5px; */
    border: 1px solid #85deee;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    height: 300px;
}

.sort {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 14px; */
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */

}

.radio {
    margin-right: 15px;
}

.reset {
    font-size: 14px;

}