body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.wrapper {
	min-height: 100vh;
	background-color: beige;
}